<!-- grocery list -->
<div class="center"><h1>Logout</h1>

You have successfully logged out of your account and your grocery list has been saved.
<br><br>
<a style="text-decoration: underline" href='/'>Home</a>
</div>