<div class="center"><h1> <%= @user.name %>'s recipes</h1>
  <form action='/new_item' method='POST'>
    <strong>Add New Recipe:</strong><br><br>
    <textarea name='instructions' placeholder='recipe name' rows='5' cols='45'></textarea><br><br>

    <textarea name='instructions' placeholder='recipe instructions' rows='15' cols= '45'></textarea><br><br>

    <input type='submit' value='Add Ingredients' href="/recipe_ingredients"/>
    <br><br>
    <a style="text-decoration: underline" href="/logout">Log Out</a>
  </form>
</div>