<div class="left"><h1> Add New Recipe:</h1>
  <form action='/new_recipe' method='POST'>
    <textarea name='name' placeholder='recipe name' rows='5' cols='45'></textarea><br><br>
    <textarea name='instructions' placeholder='recipe instructions' rows='15' cols= '45'></textarea><br><br>

    <input type='submit' value='Add Ingredients'/>
    <br><br>
    <a style="text-decoration: underline" href="/logout">Log Out</a>
  </form>
</div>

<div class="right"><h1> <%= @user.name %>'s recipes</h1>
  <% @recipes.each do |recipe| %>
    <%= recipe.recipe_name %><br>
    <%= recipe.instructions %> <br><br>
  <% end %>
</div>