<!-- grocery list -->
<div class="center"><h1>Create A New Account</h1>
 
<form action="/new_user" method='POST'>
 Choose a username: <input type='text' name='name' placeholder='username' /><br><br>
 Choose a password: <input type='password' name="password" placeholder="password" /><br><br>
  Retype password: &nbsp&nbsp <input type='password' name="password_confirmation" placeholder="confirm password" /><br><br>
  <input type='submit' value='Save'/>
</form>
<br>
<a style="text-decoration: underline" href="/">back</a>
</div>

